<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Tag : {{tag.tag}}</h1>
      <uib-tabset>
        <uib-tab heading="Articoli">
          <div class="row">
      	    <div class="panel-body" ng-if="tag.articles.length <= 0">
      	      <p class="alert-subimportant">Non sono presenti articoli con il tag <i>{{tag.tag}}</i></p>
      	    </div>
            <div class="row" infinite-scroll="tag.loadMoreArticles()"
           		infinite-scroll-disabled="tag.isLoadingArticles || tag.noMoreArticles">
        			<div class="col-sm-12 col-md-6" ng-repeat="article in tag.articles">
          			<article-preview article='article'></article-preview>
        			</div>
      			</div>
          </div>
        </uib-tab>
        <uib-tab heading="Domande">
          <div class="row">
      	    <div class="panel-body" ng-if="tag.questions.length <= 0">
      	      <p class="alert-subimportant">Non sono presenti domande con il tag <i>{{tag.tag}}</i></p>
      	    </div>
            <div class="row" infinite-scroll="tag.loadMoreQuestions()"
           		infinite-scroll-disabled="tag.isLoadingQuestions || tag.noMoreQuestions">
			        <ul class="media-list">
                <question-preview questions='tag.questions'></question-preview>
			        </ul>
      			</div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <div class="col-md-3">
      <advertisement></advertisement>
      <div class="panel panel-default">
        <div class="panel-body">
          <strong>I TAG più usati</strong>
        </div>
      </div>
      <tag-list tags='tag.tags' limit='15'></tag-list>
      <advertisement></advertisement>
    </div>
  </div>
</div>
