<html>
  <body style="font-family: Arial, Helvetica, sans-serif; color: #666 !important; font-size: 14px; line-height: 140%;">
    <div style="background: #CDE6F7; width: 50%; min-width: 400px; margin:auto; padding: 5px 20px; margin-bottom: 20px; text-align: center; border-bottom: 1px dotted #3d9ccc;">
      <img src="http://tisostengo-dev.herokuapp.com/assets/images/logo.png" alt="tiSOStengo">
    </div>
    <div style="width: 50%; min-width: 400px; margin: auto; padding-bottom: 20px; border-bottom: 1px dotted #3d9ccc;">
      <h1 style="color: #3D9CCC;">Ciao <%= firstname %>,</h1>
      <h2 style="color: #3353A0;">Benvenuto in TiSOStengo!</h2>
      <p>Clicca sul link per confermare la registrazione e accedere al sito:<br>
        <a href="<%= domain %>/api/users/validate/<%= enablingToken %>"><%= domain %>/api/users/validate/<%= enablingToken %></a>
      </p>
      <p>Grazie e a presto!<br>
      tisostengo.it</p>
    </div>
    <div style="width: 50%; min-width: 400px; margin: auto; padding-bottom: 20px; border-bottom: 1px dotted #3d9ccc;">
      <p>Ricevi questa e-mail perch&egrave; hai dato il tuo consenso su tiSOStengo.it</p>
    </div>
  </body>
</html>