<html>
  <body style="font-family: Arial, Helvetica, sans-serif; color: #666 !important; font-size: 14px; line-height: 140%;">
    <div style="background: #CDE6F7; width: 50%; min-width: 400px; margin:auto; padding: 5px 20px; margin-bottom: 20px; text-align: center; border-bottom: 1px dotted #3d9ccc;">
      <img src="http://tisostengo-dev.herokuapp.com/assets/images/logo.png" alt="tiSOStengo">
    </div>
    <div style="width: 50%; min-width: 400px; margin: 0 auto; padding: 0 30px 20px 30px; border-bottom: 1px dotted #3d9ccc;">
      <h1 style="color: #3D9CCC;">Ciao <%= firstname %> <%= lastname %>,</h1>
      <h2 style="color: #3353A0;">Benvenuto in TiSOStengo!</h2>
      <p>Potrai accedere a <a href="http://www.tisostengo.it" target="_blank">www.tisostengo.it</a> utilizzando le credenziali qui sotto:</p>
      <p>Username:<strong> <%= email %></strong><br>
        Password:<strong> <%= password %></strong>
      </p>
      <p>La prima volta che accederai a TiSOStengo ricordati di completare i dati del tuo profilo e di cambiare la password.</p>
      
      <p>Grazie e a presto!<br>
      tisostengo.it</p>
    </div>
    <div style="width: 50%; min-width: 400px; margin: 0 auto; padding: 0 30px 20px 30px; border-bottom: 1px dotted #3d9ccc;">
      <p>Ricevi questa e-mail perch&egrave; hai dato il tuo consenso su tiSOStengo.it</p>
    </div>
  </body>
</html>







