<html>
  <body style="font-family: Arial, Helvetica, sans-serif; color: #666 !important; font-size: 14px; line-height: 140%;">
    <div style="background: #CDE6F7; width: 50%; min-width: 400px; margin:auto; padding: 5px 20px; margin-bottom: 20px; text-align: center; border-bottom: 1px dotted #3d9ccc;">
      <img src="http://tisostengo-dev.herokuapp.com/assets/images/logo.png" alt="tiSOStengo">
    </div>
    <div style="width: 50%; min-width: 400px; margin: auto; padding-bottom: 20px; border-bottom: 1px dotted #3d9ccc;">
      <h1 style="color: #3D9CCC;">Ciao Amministratore,</h1>
      <p><%= message %></p>
      <p>Grazie e a presto!<br>
      tisostengo.it</p>
    </div>
  </body>
</html>
