<h1 class="modal-title text-center">Password dimenticata</h1>
<div class="modal-body">
  <form class="form" name="form" ng-submit="reset(form)" novalidate>

    <div class="form-group">
      <label>Email</label>

      <input type="email" name="email" class="form-control" ng-model="email"
             pattern="[a-z0-9._%+-]+@(?!mailinator)[a-z0-9.-]+\.[a-z]{2,4}$"
             required
             autofocus
             bs-has-error
             ng-class="{ 'has-error': form.email.$invalid }">
    </div>
    <div class="form-group">
      <label>Provincia</label>
      <select class="form-control"
              ng-options="city for city in cities"
              ng-model="province"
              name="province"
              bs-has-error
              required>
        <option value="">Seleziona una città</option>
      </select>
    </div>

    <div>
      * Tutti i campi sono obbligatori
    </div>

    <div class="form-group has-error">
      <p class="help-block" ng-show="form.email.$error.required && submitted">
        Inserisci la tua email
      </p>

      <p class="help-block" ng-show="form.email.$error.email && submitted">
        Inserisci un indirizzo email valido
      </p>

      <p class="help-block" ng-show="form.province.$error.required && submitted">
        Inserisci la tua provincia
      </p>

      <p class="help-block">{{ errors.other }}</p>
    </div>

    <div class="text-center">
      <button class="btn btn-lg btn-primary" type="submit">
        Invia la nuova password
      </button>
      <button class="btn btn-lg btn-default" ng-click="$close()">
        Annulla
      </button>
    </div>
    <br>
    <p class="small">
      <a href show-signup ng-click="$close('login')">Non hai un account? Registrati ora!</a>
    </p>
  </form>
</div>
