<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Hai cercato “{{cercaContenuti.text}}”</h1>
      <uib-tabset>
        <uib-tab heading="Articoli">
          <nav class="navbar navbar-info filters">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <p class="navbar-text">Filtri</p>
                </ul>
                <form class="navbar-form navbar-left">
                  <categories-dropdown ng-model="cercaContenuti.filtersArticle.category"></categories-dropdown>
                  <user-types-dropdown ng-model="cercaContenuti.filtersArticle.editorial"></user-types-dropdown>
                </form>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>
          <div class="row">
      	    <div class="panel-body" ng-if="cercaContenuti.articles.length <= 0">
      	      <p class="alert-subimportant">Non sono presenti articoli che soddisfino il criterio di ricerca scelto</p>
      	    </div>
            <div class="row" infinite-scroll="cercaContenuti.loadMoreArticles()"
           		infinite-scroll-disabled="cercaContenuti.isLoadingArticles || cercaContenuti.noMoreArticles">
        			<div class="col-sm-12 col-md-6" ng-repeat="article in cercaContenuti.articles">
          			<article-preview article='article'></article-preview>
        			</div>
      			</div>
          </div>
        </uib-tab>
        <uib-tab heading="Domande">
          <nav class="navbar navbar-info filters">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <p class="navbar-text">Filtri</p>
                </ul>
                <form class="navbar-form navbar-left">
                  <categories-dropdown ng-model="cercaContenuti.filtersQuestion.category"></categories-dropdown>
                  <!--<cities-dropdown ng-model="domande.filters.city"></cities-dropdown>-->
                </form>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>
          <div class="row">
      	    <div class="panel-body" ng-if="cercaContenuti.questions.length <= 0">
      	      <p class="alert-subimportant">Non sono presenti domande che soddisfino il criterio di ricerca scelto</p>
      	    </div>
            <div class="row" infinite-scroll="cercaContenuti.loadMoreQuestions()"
           		infinite-scroll-disabled="cercaContenuti.isLoadingQuestions || cercaContenuti.noMoreQuestions">
			        <ul class="media-list">
                <question-preview questions='cercaContenuti.questions'></question-preview>
			        </ul>
      			</div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <div class="col-md-3">
      <advertisement></advertisement>
      <advertisement></advertisement>
    </div>
  </div>
</div>
